:root {
  --money-green: #adebb3;
  --light-green: #80ef80;
  --blue: #9da3ff;
  --yellow: #ffc067;
  --light-purple: #e0b0ff;
  --gold: #fdcb35;
  --light-yellow: #f8de7e;
  --yellow-orange: #ffc550;
  --french-blue: #28388d;
  --french-red: #e8303e;
  --light-blue: #b5c7eb;
  --secondary: #272727;
  --mainbg: #232323;
  --tertiary: #383838;
  --text-secondary: #bdbdbd;
  --purple: #f581ff;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1vw;
  box-sizing: border-box;
  position: relative;
}
.uncontainer {
  width: 32vw;
}
.scontainer {
  width: 35vw;
}
.upcontainer {
  width: 32vw;
}
.unlock-type {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5%;
  height: 100%;
  transition: 0.2s ease-in-out;
}
.upgrade-type {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5%;
  height: 100%;
  transition: 0.2s ease-in-out;
}

.stats-select {
  display: flex;
  justify-content: space-between;
  padding: 5%;
  align-items: center;
  height: 100%;
  width: 100%;
}
.clicker {
  height: 15vw;
  width: 100%;
  display: flex;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s;
  flex-direction: row;
}
.clicker:active {
  transform: scale(0.95) !important;
}
.main-clicker {
  width: 80%;
  display: flex;
  flex: 1;
  margin-top: 20%;
  align-items: flex-start;
}
.sinfo-container {
  display: flex;
  gap: 5%;
  align-items: center;
  justify-content: center;
  font-size: 120%;
  width: 100%;
  flex-direction: row;
}

.clicker:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.clicker-blue {
  height: 100%;
  border-radius: 10px 0 0 10px;
  flex: 1;
  background-color: var(--french-blue);
}
.clicker-red {
  height: 100%;
  flex: 1;
  border-radius: 0 10px 10px 0;
  background-color: var(--french-red);
}
.clicker-white {
  height: 100%;
  width: auto;
  flex: 1;
  background-color: white;
}
.unlock-type:not(.uiselected):hover::after {
  content: "";
  width: 50%;
}
.uiselected::after {
  content: "";
  width: 75% !important;
}
.unlock-type::after {
  content: "";
  margin-top: 2.5%;
  transition: 0.2s ease-out;
  border-bottom: 1px solid white;
  width: 0;
}
.unlock-type:hover {
  cursor: pointer;
}
.upgrade-type::after {
  content: "";
  margin-top: 2.5%;
  transition: 0.2s ease-out;
  border-bottom: 1px solid white;
  width: 0;
}
.upgrade-type:not(.uiselected):not(.storage):hover::after {
  content: "";
  width: 50%;
}
.upgrade-type:hover {
  cursor: pointer;
}
.item {
  width: 100%;
  background-color: var(--secondary);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.item-desc {
  display: flex;
  position: relative;
  border-radius: 10px 10px 0 0;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 2% 2% 2% 2%;
}
.inv-item {
  width: 99%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.inv-basic {
  border: 1px solid var(--light-blue);
}
.inv-deluxe {
  border: 1px solid var(--light-yellow);
}
.inv-premium {
  border: 1px solid var(--light-purple);
}
.item-buy {
  border: 1px solid var(--money-green);
  border-radius: 0 0 10px 10px;
  padding: 1%;
  color: var(--money-green);
  display: flex;
  align-items: center;
  user-select: none;
  justify-content: center;
  transition: 0.2s linear;
}
.ie-tab {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s linear;
  padding: 3%;
}

.ie-tab:hover span::after {
  content: "";
  width: 30%;
}
.ie-selected span::after {
  content: "";
  width: 50% !important;
}
.empty-text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-secondary);
}
.ie-tab span::after {
  content: "";
  position: absolute;
  bottom: -2.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s ease-out;
  border-bottom: 1px solid white;
  width: 0;
}
.ie-tab.divider {
  border-right: 1px solid var(--tertiary);
}
.ie-tab span {
  z-index: 1;
  position: relative;
}

.ie-tab:hover {
  cursor: pointer;
}

.switch-tab {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.item-buy:hover {
  background-color: var(--money-green);
  color: var(--secondary);
  cursor: pointer;
}
.rarity {
  font-size: 80%;
  display: flex;
  align-items: center;
  gap: 1%;
  color: var(--text-secondary);
  border-radius: 5px;
}
.rarity-icon {
  font-size: 60%;
}
.item-info {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.basic-rarity {
  color: var(--light-blue);
}
.premium-rarity {
  color: var(--light-purple);
}
.basic {
  border-top: 1px solid var(--light-blue);
  border-right: 1px solid var(--light-blue);
  border-left: 1px solid var(--light-blue);
}
.deluxe-rarity {
  color: var(--light-yellow);
}
.item-price {
  margin-left: auto;
  padding: 0.2% 1% 0.2% 1%;
  font-size: 150%;
  border-radius: 5px;
}
.item-amount {
  margin-left: auto;
  padding: 0.2% 1% 0.2% 1%;
  font-size: 250%;
  border-radius: 5px;
}
.basic-amount {
  color: var(--light-blue);
}
.premium-amount {
  color: var(--light-purple);
}
.deluxe-amount {
  color: var(--light-yellow);
}
.basic-name {
  color: var(--light-blue);
}
.basic-price {
  background-color: var(--light-blue);
  color: var(--secondary);
}

.premium {
  border-left: 1px solid var(--light-purple);
  border-right: 1px solid var(--light-purple);
  border-top: 1px solid var(--light-purple);
}
.premium-name {
  color: var(--light-purple);
}
.premium-price {
  background-color: var(--light-purple);
  color: var(--secondary);
}
.deluxe {
  border-left: 1px solid var(--light-yellow);
  border-right: 1px solid var(--light-yellow);
  border-top: 1px solid var(--light-yellow);
}
.deluxe-name {
  color: var(--light-yellow);
}
.deluxe-price {
  background-color: var(--light-yellow);
  color: var(--secondary);
}
.basic-price {
  background-color: var(--light-blue);
  color: var(--secondary);
}
.item-name {
  font-size: 200%;
}
.unlock-header {
  font-size: 150%;
  height: 10vh;
  font-weight: bold;
  background-color: var(--secondary);
  border: 1px solid var(--tertiary);
  border-radius: 10px;
  margin-bottom: 2.5%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.stat-header {
  font-size: 250%;
}
.stat-change {
  border-radius: 10px;
  padding: 1%;
  font-size: 200%;
  transition: 0.4s ease-in-out;
}
.stat-change:hover {
  cursor: pointer;
}
.sc-selected {
  transform: rotateZ(180deg);
}
.stats-header {
  height: 10vh;
  font-weight: bold;
  background-color: var(--secondary);
  border: 1px solid var(--tertiary);
  border-radius: 10px;
  margin-bottom: 2.5%;
  display: flex;
  width: 100%;
  align-items: center;
}
.upgrade-icon {
  position: absolute;
  left: 0;
}
.upgrades-header {
  height: 10vh;
  position: relative;
  font-weight: bold;
  background-color: var(--secondary);
  border: 1px solid var(--tertiary);
  border-radius: 10px;
  font-size: 150%;
  justify-content: center;
  margin-bottom: 2.5%;
  display: flex;
  width: 100%;
  align-items: center;
}
.disabled {
  display: none !important;
}
.marketreset {
  padding: 3%;
}
.pa-container {
  display: flex;
  gap: 3%;
  flex-direction: row;
  align-items: center;
  height: 100%;
  padding: 3%;
  justify-content: flex-start;
}

.topbar-unlock {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  flex-direction: row;
  color: white;
  background-color: var(--secondary);
  border-right: 1px solid var(--tertiary);
  border-left: 1px solid var(--tertiary);
  border-top: 1px solid var(--tertiary);
  width: 100%;
  border-radius: 10px 10px 0 0;
  align-items: center;
}

.topbar-unlock span {
  font-size: 200%;
}

.topbar-unlock .pa-change:hover {
  background-color: white;
  color: var(--secondary);
  cursor: pointer;
}
.locked {
  display: flex;
  align-items: center;
  margin-top: 2.5%;
  width: 100%;
  user-select: none;
  height: 15%;
  font-size: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  justify-content: center;
}
.locked div {
  font-weight: bold;
  background-color: var(--yellow);
  display: flex;
  z-index: 2;
  justify-content: center;
  color: var(--secondary);
  border-radius: 10px;
  height: 100%;
  width: 100%;
  align-items: center;
  padding: 2%;
}

.main-unlock {
  gap: 5%;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 5%;
  border-radius: 0 0 10px 10px;
  background-color: var(--mainbg);
  border: 1px solid var(--tertiary);
}
.main-upgrades {
  gap: 5%;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
  border-radius: 10px;
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 5%;
  background-color: var(--mainbg);
  border: 1px solid var(--tertiary);
}
.unlock {
  width: 100%;
  background-color: var(--secondary);
  border: 1px solid var(--tertiary);
  border-radius: 10px;
  padding: 2.5%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}
.unlock-name {
  font-size: 200%;
}
.info {
  width: 100%;
  margin-bottom: 2.5%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.description {
  margin-top: 2.5%;
  display: flex;
  white-space: nowrap;
  font-size: clamp(70%, 110%, 150%);
  align-items: center;
}
.left-info {
  display: flex;
  height: 100%;
  width: 70%;
  flex-direction: column;
}
.buyarea {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2.5%;
  width: 100%;
  user-select: none;
  height: 15%;
}
.selection-container {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
}
.buy-btn {
  display: flex;
  color: var(--blue);
  justify-content: center;
  border: 1px solid var(--blue);
  border-radius: 10px 0 0 10px;
  width: 70%;
  background-color: transparent;
  height: 100%;
  align-items: center;
  padding: 2%;
  transition: 0.2s linear;
}
.storage {
  filter: brightness(0.5);
}
.buy-btn:not(.unusable):hover {
  background-color: var(--blue);
  color: var(--secondary);

  cursor: pointer;
}
.price {
  display: flex;
  border-right: none;
  justify-content: center;
  align-items: center;
  padding: 2%;
  color: var(--money-green);
  width: 30%;
  border-top: 1px solid var(--money-green);
  border-right: 1px solid var(--money-green);
  border-bottom: 1px solid var(--money-green);
  border-radius: 0 10px 10px 0;
  height: 100%;
}
.upgrade-pending {
  color: var(--yellow-orange);
  font-size: 80%;
  margin-left: 5%;
  animation: bounce 1s infinite;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20%);
  }
}
.amount {
  font-size: 350%;
  align-items: center;
}
.unlock-name::after {
  content: "";
  display: block;
  margin-top: 2.5%;
  width: 100%;
  border-bottom: 1px solid rgb(78, 78, 78);
}
.main-stats {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.stat-info {
  background-color: var(--secondary);
  border: 1px solid var(--tertiary);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 3%;
  flex-direction: column;
  display: flex;
  width: 100%;
}
.progress {
  width: 90%;
  height: 100%;
  border-radius: 10px;
}
.progress div {
  border-radius: 10px;
  transition: width 1s linear;
  height: 100%;
}
.production-progress {
  background-color: var(--purple);
}
.delivery-progress {
  background-color: var(--gold);
}
.progress .running {
  animation: fillBar linear infinite;
}

@keyframes fillBar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.sinfo-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.delivery .progress {
  border: 1px solid var(--gold);
}
.delivery {
  color: var(--gold);
}
.production .progress {
  border: 1px solid var(--purple);
}
.production {
  color: var(--purple);
}
.sell-time {
  border: 1px solid var(--money-green);
}
.progress-mini {
  width: 100%;
  display: flex;
  font-size: 120%;
  flex-direction: row;
  align-items: center;
  gap: 2.5%;
  flex: 1;
}
.progress-container {
  width: 100%;
  margin-top: 2.5%;
  gap: 20%;
  display: flex;
  flex-direction: column;
}
.progress .bar {
  background-color: var(--purple);
  border-radius: 10px;
  height: 100%;
}
.selected {
  background-color: white;
  color: var(--secondary);
}
.topbar-unlock .pa-change {
  padding: 2% 4% 2% 4%;
  display: flex;
  font-size: 100%;
  transition: 0.2s linear;
  border: 1px solid white;
  border-radius: 10px;
}
.enhancement {
  border-radius: 10px;
  border: 1px solid var(--tertiary);
  padding: 2.5%;
  background-color: var(--secondary);
  display: flex;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.enhancement-desc {
  display: flex;
  align-items: center;
  width: 45%;
  flex-direction: column;
}

.enhancement-effects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.enhancement-name {
  text-align: center;
  display: table-caption;
  width: min-content;
  font-size: 150%;
}
.ingredients-header {
  font-size: 150%;
}
.ingredient {
  display: flex;
  align-items: center;
  position: relative;
}
.basic-ingredient {
  color: var(--light-blue);
}

.premium-ingredient {
  color: var(--light-purple);
}
.deluxe-ingredient {
  color: var(--light-yellow);
}
.basic-idivider {
  flex: 0.8;
  border-bottom: 1px solid var(--light-blue);
  filter: brightness(0.5);
  height: 0;
}
.premium-idivider {
  flex: 0.8;
  border-bottom: 1px solid var(--light-purple);
  filter: brightness(0.5);
  height: 0;
}
.enhancement-tinfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 3%;
}
.deluxe-idivider {
  flex: 0.8;
  border-bottom: 1px solid var(--light-yellow);
  filter: brightness(0.5);
  height: 0;
}
.enhancement-cost {
  display: flex;
  flex: 1;
  padding: 0 5% 0 5%;
  border-left: 1px solid var(--tertiary);
  flex-direction: column;
  max-width: 100%;
}
.enhancement-ingredient {
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}
.ecost-basic {
  filter: brightness(0.8);
}
.ecost-premium {
  filter: brightness(0.8);
}
.ecost-deluxe {
  filter: brightness(0.8);
}
.einfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  position: relative;
  justify-content: center;
  width: 90%;
}
.einfo.sell {
  color: var(--gold);
}
.einfo.produce {
  color: var(--purple);
}
.einfo.expensive {
  color: var(--light-green);
}
.up {
  position: absolute;
  left: 0;
}
.activate-btn {
  display: flex;
  border: 1px solid var(--yellow-orange);
  color: var(--yellow-orange);
  padding: 1%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  transition: 0.2s linear;
}
.activate-btn .timer-icon {
  font-size: 80%;
}
.activate-btn:hover {
  cursor: pointer;
  background-color: var(--yellow-orange);
  color: var(--tertiary);
}
